html {
    height: 100%;
    width: 100%;
  }
  
  body{
background-image: url(images/trickit-background.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
    color: white;
  font-family:'Courier New', Courier, monospace;
  }
  
  .title-area{
    background-color: #6b6b6b;
    padding: 10px;
    margin: 4px;
    border: 4px;
    border-radius: 2px;
  }
  
  .nav-links {
    list-style: none;       
    margin: 0;              
    padding: 0;             
    display: flex;           
    justify-content: center; 
    text-align: left;
  }
  .nav-links li {
    margin: 0 10px;  
  }
  .nav-links a {
    text-decoration: none; 
    color: #fff;         
  }
  
  .dropdown {
    display: none;
  }
  
  nav li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: #333;
  }
  
  .dropdown li {
    display: block;
  }
  .dropdown li:before,
  .dropdown li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px; 
  }
  .dropdown {
    display: none;
    background-color: #333; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center;
  }
  
  .background{
   background-color:  black;
  }

  .testimonials{
    background-color: rgba(73, 148, 149, 0.335);
    color: azure;
    border: goldenrod;
  }

.title{
  color: rgb(21, 128, 158);
}
.show{
  background-color: hsl(208, 72%, 39%);
  color: black;
  width: 300px;
  border: 5px #6b6b6b;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  }
  .show a{
    color: black;
  }

a{
  color: rgb(255, 255, 255);
 }
 
 .end{
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 padding: 5px;
 border-radius: 5px;
 
}
.end a{
  color: black;
}

.socials{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 7px;
  
}
  /*/ 
\______________/
__/__|______|__\__
/⭕⭕_______⭕⭕\
|__/__D4IV36__\__|
\©©__|_|_|_|_|__©©/
/*/

  